<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="shortcut icon" href="/img/cloud.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form action="">
                <input type="text" name="location" id="" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="titre"></p>
            <p id="coordonees"></p>
            <p id="prevision"></p>

        </div>

        {{>footer}}
    </body>
    <script src="/js/app.js"></script>
</html>